<h2><i class="glyphicon glyphicon-user"></i> Users</h2>
<%= link_to "+Create User", new_admin_user_path, class: "btn btn-success" %>
<br>
<table class="table table-hover">
  <th>Character name</th>
  <th>First name</th>
  <th>Last name</th>
  <th>Roles</th>
  <th>Actions</th>
  <% @list.each do |u| %>
    <tr>
      <td>
        <%= u.character_name %>
      </td>
      <td>
        <%= u.first_name %>
      </td>
      <td>
        <%= u.last_name %>
      </td>
      <td>
          <% u.roles.each do |r| %>
            <%= "#{r.name} " %>
          <% end %>
      </td>
      <td>
        <%= link_to "Edit", edit_admin_user_path(u), class: 'btn btn-xs btn-info' %>
        <%= link_to "Delete", admin_user_path(u), method: :delete, class: 'btn btn-xs btn-danger' %>
      </td>
    </tr>
  <% end %>
</table>
